* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  html,
  body {
    font-size: 14px;
  }
}

